<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>       
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/us_states</property>
    <property name="connection.username">root</property>
    <property name="connection.password">0447</property>
    
    
    <!--The below line tells Hibernate to show all SQL statements to the standard output. -->
    <property name="show_sql">true</property>
    
     <!--The below line tells Hibernate to parse the mapping file. -->
    <mapping resource="/com/hibernate/States.hbm.xml"/>
    
  </session-factory>
</hibernate-configuration>