<h1>Attribute Directives</h1>
<h2>ngClass/ngStyle</h2>
<div [ngClass]="{border: true, background: true}">
</div>
<br>
<div [ngStyle]="{'border': '3px solid red', 'background-color': 'green'}">
</div>
<hr>
<h2>Custom Attribute Directives</h2>
<br>
<div dirHightlightDirective>Custom directive</div>
<br>
<hr>
<h2>HostListener and HostBinding</h2>
<div dirHostListenerhostBinding>HostListener HostBinder</div>
<hr>
<h2>Directive Property Binding</h2>
<!--<div dirHighlightDirectivePropertyBinding [highlightColor] = "'blue'" [defaultColor] = "'red'">Directives property Binding</div> -->
<div [dirHighlightDirectivePropertyBinding]= "'blue'" [defaultColor] = "'red'">Directives property Binding</div>
<hr>
<h1>Structural Directive</h1>
<h2>*ngIf</h2>
<div *ngIf = "switch">conditional text</div>
<!-- Another way of using the above code -->
<template [ngIf] = "switch">
	<div>
		conditional text
	</div>
</template>

<button (click)="onSwitch()">Switch</button>
<hr>
<h2>*ngFor</h2>
<ul>
	<li *ngFor="let item of items; let i = index">{{item}} - (Index: {{i}})</li>
</ul>

<hr>
<h2>ngSwitch</h2>
<div [ngSwitch]="value">
	<p *ngSwitchCase="10">10</p>
	<p *ngSwitchCase="100">100</p>
	<p *ngSwitchDefault>Default</p>
</div>


<div [ngSwitch]="value">
	<template [ngSwitchCase]="10">10</template>
	<template [ngSwitchCase]="100">100</template>
	<template ngSwitchDefault>Default</template>
</div>

<br><br><br><br><br><br><br><br><br><br><br>